body {
  background: #E6E6E6;
}



#copy {
  color: #000;
  opacity: .5;
}

#copy a {
  color: #000;
}

.building {
fill: lightblue;
  opacity: 0.01;
  stroke-width: 0.1px;
}

.building:hover {
  fill: lightcoral;
  stroke: lightcoral;
  opacity: .5;
  stroke-width: 0.1px;
}
