body {
  background: #E6E6E6;
}

.layer path {
  stroke: #fff;
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}

#copy {
  color: #000;
  opacity: .5;
}

#copy a {
  color: #000;
}

.building:hover {
  fill: lightcoral;
  stroke: brown;
}

.building {
  fill: lightblue;
}
